.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image {
  width: 100%;
}
.personCard {
  border: 2px solid black;
  text-align: center;
  margin: 1em;
  padding: 2em;
}
figure {
  width: 400px;
  height: auto;
  background: #fff;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: 1s ease-in-out;
}
figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
li{
  list-style-type: none;
}
.searchbar{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
